<img src ='static/cards/gde1.gif' id ='gde1' data-color='green' data-shape='diamond' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/gde2.gif' id ='gde2' data-color='green' data-shape='diamond' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/gde3.gif' id ='gde3' data-color='green' data-shape='diamond' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/gdf1.gif' id ='gdf1' data-color='green' data-shape='diamond' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/gdf2.gif' id ='gdf2' data-color='green' data-shape='diamond' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/gdf3.gif' id ='gdf3' data-color='green' data-shape='diamond' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/gds1.gif' id ='gds1' data-color='green' data-shape='diamond' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/gds2.gif' id ='gds2' data-color='green' data-shape='diamond' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/gds3.gif' id ='gds3' data-color='green' data-shape='diamond' data-pattern='striped' data-number='3' class='card'>
<img src ='static/cards/goe1.gif' id ='goe1' data-color='green' data-shape='oval' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/goe2.gif' id ='goe2' data-color='green' data-shape='oval' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/goe3.gif' id ='goe3' data-color='green' data-shape='oval' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/gof1.gif' id ='gof1' data-color='green' data-shape='oval' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/gof2.gif' id ='gof2' data-color='green' data-shape='oval' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/gof3.gif' id ='gof3' data-color='green' data-shape='oval' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/gos1.gif' id ='gos1' data-color='green' data-shape='oval' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/gos2.gif' id ='gos2' data-color='green' data-shape='oval' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/gos3.gif' id ='gos3' data-color='green' data-shape='oval' data-pattern='striped' data-number='3' class='card'>
<img src ='static/cards/gse1.gif' id ='gse1' data-color='green' data-shape='squiggle' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/gse2.gif' id ='gse2' data-color='green' data-shape='squiggle' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/gse3.gif' id ='gse3' data-color='green' data-shape='squiggle' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/gsf1.gif' id ='gsf1' data-color='green' data-shape='squiggle' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/gsf2.gif' id ='gsf2' data-color='green' data-shape='squiggle' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/gsf3.gif' id ='gsf3' data-color='green' data-shape='squiggle' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/gss1.gif' id ='gss1' data-color='green' data-shape='squiggle' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/gss2.gif' id ='gss2' data-color='green' data-shape='squiggle' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/gss3.gif' id ='gss3' data-color='green' data-shape='squiggle' data-pattern='striped' data-number='3' class='card'>
<img src ='static/cards/pde1.gif' id ='pde1' data-color='purple' data-shape='diamond' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/pde2.gif' id ='pde2' data-color='purple' data-shape='diamond' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/pde3.gif' id ='pde3' data-color='purple' data-shape='diamond' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/pdf1.gif' id ='pdf1' data-color='purple' data-shape='diamond' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/pdf2.gif' id ='pdf2' data-color='purple' data-shape='diamond' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/pdf3.gif' id ='pdf3' data-color='purple' data-shape='diamond' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/pds1.gif' id ='pds1' data-color='purple' data-shape='diamond' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/pds2.gif' id ='pds2' data-color='purple' data-shape='diamond' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/pds3.gif' id ='pds3' data-color='purple' data-shape='diamond' data-pattern='striped' data-number='3' class='card'>
<img src ='static/cards/poe1.gif' id ='poe1' data-color='purple' data-shape='oval' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/poe2.gif' id ='poe2' data-color='purple' data-shape='oval' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/poe3.gif' id ='poe3' data-color='purple' data-shape='oval' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/pof1.gif' id ='pof1' data-color='purple' data-shape='oval' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/pof2.gif' id ='pof2' data-color='purple' data-shape='oval' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/pof3.gif' id ='pof3' data-color='purple' data-shape='oval' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/pos1.gif' id ='pos1' data-color='purple' data-shape='oval' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/pos2.gif' id ='pos2' data-color='purple' data-shape='oval' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/pos3.gif' id ='pos3' data-color='purple' data-shape='oval' data-pattern='striped' data-number='3' class='card'>
<img src ='static/cards/pse1.gif' id ='pse1' data-color='purple' data-shape='squiggle' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/pse2.gif' id ='pse2' data-color='purple' data-shape='squiggle' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/pse3.gif' id ='pse3' data-color='purple' data-shape='squiggle' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/psf1.gif' id ='psf1' data-color='purple' data-shape='squiggle' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/psf2.gif' id ='psf2' data-color='purple' data-shape='squiggle' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/psf3.gif' id ='psf3' data-color='purple' data-shape='squiggle' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/pss1.gif' id ='pss1' data-color='purple' data-shape='squiggle' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/pss2.gif' id ='pss2' data-color='purple' data-shape='squiggle' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/pss3.gif' id ='pss3' data-color='purple' data-shape='squiggle' data-pattern='striped' data-number='3' class='card'>
<img src ='static/cards/rde1.gif' id ='rde1' data-color='red' data-shape='diamond' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/rde2.gif' id ='rde2' data-color='red' data-shape='diamond' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/rde3.gif' id ='rde3' data-color='red' data-shape='diamond' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/rdf1.gif' id ='rdf1' data-color='red' data-shape='diamond' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/rdf2.gif' id ='rdf2' data-color='red' data-shape='diamond' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/rdf3.gif' id ='rdf3' data-color='red' data-shape='diamond' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/rds1.gif' id ='rds1' data-color='red' data-shape='diamond' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/rds2.gif' id ='rds2' data-color='red' data-shape='diamond' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/rds3.gif' id ='rds3' data-color='red' data-shape='diamond' data-pattern='striped' data-number='3' class='card'>
<img src ='static/cards/roe1.gif' id ='roe1' data-color='red' data-shape='oval' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/roe2.gif' id ='roe2' data-color='red' data-shape='oval' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/roe3.gif' id ='roe3' data-color='red' data-shape='oval' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/rof1.gif' id ='rof1' data-color='red' data-shape='oval' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/rof2.gif' id ='rof2' data-color='red' data-shape='oval' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/rof3.gif' id ='rof3' data-color='red' data-shape='oval' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/ros1.gif' id ='ros1' data-color='red' data-shape='oval' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/ros2.gif' id ='ros2' data-color='red' data-shape='oval' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/ros3.gif' id ='ros3' data-color='red' data-shape='oval' data-pattern='striped' data-number='3' class='card'>
<img src ='static/cards/rse1.gif' id ='rse1' data-color='red' data-shape='squiggle' data-pattern='empty' data-number='1' class='card'>
<img src ='static/cards/rse2.gif' id ='rse2' data-color='red' data-shape='squiggle' data-pattern='empty' data-number='2' class='card'>
<img src ='static/cards/rse3.gif' id ='rse3' data-color='red' data-shape='squiggle' data-pattern='empty' data-number='3' class='card'>
<img src ='static/cards/rsf1.gif' id ='rsf1' data-color='red' data-shape='squiggle' data-pattern='filled' data-number='1' class='card'>
<img src ='static/cards/rsf2.gif' id ='rsf2' data-color='red' data-shape='squiggle' data-pattern='filled' data-number='2' class='card'>
<img src ='static/cards/rsf3.gif' id ='rsf3' data-color='red' data-shape='squiggle' data-pattern='filled' data-number='3' class='card'>
<img src ='static/cards/rss1.gif' id ='rss1' data-color='red' data-shape='squiggle' data-pattern='striped' data-number='1' class='card'>
<img src ='static/cards/rss2.gif' id ='rss2' data-color='red' data-shape='squiggle' data-pattern='striped' data-number='2' class='card'>
<img src ='static/cards/rss3.gif' id ='rss3' data-color='red' data-shape='squiggle' data-pattern='striped' data-number='3' class='card'>
